<!DOCTYPE html>
<html>
  <head>
    <title>Ad form</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>

  <body>
    <form action="<%=posturl %>" method="POST" encType="multipart/form-data">
      <a href="/">< Tilbage</a>
      <h1>Announcement</h1>
      <label for="name"> Title </label>
      <input
        type="text"
        id="title"
        name="title"
        value="<%= ad.Title %>"
        required
      />
      <label for="price"> Pris </label>
      <input
        type="text"
        id="price"
        name="price"
        value="<%= ad.Price %>"
        required
      />
      <label for="category"> Kategori </label>
      <input
        type="text"
        id="category"
        name="category"
        value="<%= ad.Category %>"
        required
      />
      <label for="image"> Billede </label>
      <input type="file" id="image" name="image" />

      <button type="submit">Gem</button>
      <% if (posturl !== '/ad/new') {%>
      <a href="/ad/<%= ad.Id %>/delete">Slet Announcement</a>
      <% } %>
      <section><img src="<%= ad.Image %>" /></section>
    </form>
  </body>
</html>
