<!DOCTYPE html>
<html>
  <head>
    <title>Den lyse blå avis</title>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.numeric@1.0.0/jquery.numeric.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.11.2/dayjs.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>

  <body>
    <header>
      <!-- I stedet for at oprette en klassisk button så bruger jeg "href" til at linke til en "ny side" -->
      <!-- Dette gøres for alle user knapperne (delete, logout og update) -->
      <h1>Blå avis</h1>
      <p>Velkommen til blå avisen, vi sælger mange forskellige varer: Biler, Mobiltelefoner, Tøj og Gryder</p>
    </header>
    <!-- Det gøres også for varer knapperne som skal bruges, altså det link som skal kunne oprette varer) -->
    <!-- Også det link som viser alle varerne i en liste, og som skal gøre det muligt at slette disse announcementer -->
    <section class="gray">
      <% if (auth == true) {%>
        <a href="/">Hjem</a> - 
        <a href="/myads">Mine announcer</a> - 
        <a href="/follow">Jeg følger</a> - 
        <a href="/profile">Profil</a> - 
      <a href="/logout">Log ud</a> 
      <% if (admin == true) {%>
       -  <a href="/admin">Admin</a>
        <% } %>
      <% } else { %>
        <a href="/login">Login</a>
        <% } %>
    </section>
    <% if (auth == true) {%>
          <section>
        <button type="button" class="new"><a href="/ad/new">Tilføj Announcement</a></button>
    </section>
    <% } %>
    <% if (url == "/") {%>
      <section class="silver">
      
          Kategorier: <% for(var i=0; i < categories.length; i++) { %>
          <!-- jeg laver links til mine kategorier, via "a href" så påfører jeg en onclick function
          tilføjer function "filterByCategory" og en parameter inde i den funktion '<%= categories[i] %>'
        og det gør vi grundet templatesproget og så er selve funktionen linje 36 og 37  -->
          <a href="#" onClick="filterByCategory('<%= categories[i].Category %>')"
            ><%= categories[i].Category %></a
          > - 
          <% } %>
          <a href="#" onClick="filterByCategory('')">Nulstille</a>
        </section>   
        <section class="silver">
          <label>Lokation</label><select id="filter-location"></select> - <label>Dato</label><select id="filter-created"></select> - <label>Pris mindre er</label><input id="filter-price" type="number"><button onClick="resetfilter()">Nulstille</button>
        </section>   

        <% } %>       
        <table id="ads">
          <thead>
            <tr>
              <th>Navn</th>
              <th>Pris</th>
              <th>Kategori</th>
              <th>Billeder</th>
              <% if (auth == true && all == true) {%>
                <th>Følg</th> 
                <% } %>   
              <% if (auth == true && all == false) {%>
                <th></th>
              <% } %>
                                
            </tr>
          </thead>
          <tbody>
            <% for(var i=0; i < Ads.length; i++) { %>
            <tr class="<%= Ads[i].Category %>" data-location="<%= Ads[i].Location %>" data-price="<%= Ads[i].Price %>" data-created="<%= Ads[i].Created %>">
              <td><%= Ads[i].Title %></td>
              <td class="price"><%= Ads[i].Price %></td>
              <td><%= Ads[i].Category %></td>
              <td class="image"><img src="<%= Ads[i].Image %>"" class="image"</></td>
              <% if (auth == true && all == true) {%>
              <td>
                <% if (Ads[i].Followed == 'FALSE') {%>
                  <a href="/ad/<%= Ads[i].Id %>/follow">Følge</a> 
                <% } else {%>
                  <a href="/ad/<%= Ads[i].Id %>/unfollow">Følge ikke </a> 
                <% } %>
              </td>
              <% } %>
              <% if (auth == true && all == false) {%>
              <td>
                <a href="/ad/<%= Ads[i].Id %>/edit">redigere/slet</a>
              </td>
              <% } %>
            </tr>
            <% } %>
          </tbody>
        </table>
    </section>
    <script type="text/javascript" src="/filter.js"></script>

  </body>
</html>
