<!DOCTYPE html>
<html>
  <head>
    <title>Butikken</title>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
    ></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>

  <body>
    <header>
      <!-- I stedet for at oprette en klassisk button så bruger jeg "href" til at linke til en "ny side" -->
      <!-- Dette gøres for alle user knapperne (delete, logout og update) -->
      <h1>Butikken</h1>
      <p>Velkommen til butikken, vi sælger mange forskellige varer: Biler, Mobiltelefoner, Tøj og Gryder</p>
    </header>
    <!-- Det gøres også for varer knapperne som skal bruges, altså det link som skal kunne oprette varer) -->
    <!-- Også det link som viser alle varerne i en liste, og som skal gøre det muligt at slette disse produkter -->
    <section class="gray">
      <% if (auth == true) {%>
      <a href="/profile">Redigere/slet</a> - 
      <a href="/logout">Log ud</a>
      <% } else { %>
        <a href="/login">Login</a>
        <% } %>
    </section>
    <% if (auth == true) {%>
          <section>
        <button type="button" class="new"><a href="/newproduct">Tilføj Produkt</a></button>
    </section>
    <% } %>
    <section class="silver">

          Kategorier: <% for(var i=0; i < categorylist.length; i++) { %>
          <!-- jeg laver links til mine kategorier, via "a href" så påfører jeg en onclick function
          tilføjer function "filterByCategory" og en parameter inde i den funktion '<%= categorylist[i] %>'
        og det gør vi grundet templatesproget og så er selve funktionen linje 36 og 37  -->
          <a href="#" onClick="filterByCategory('<%= categorylist[i] %>')"
            ><%= categorylist[i] %></a
          > - 
          <% } %>
          <a href="#" onClick="filterByCategory('')">Vis alle</a>
  
          <script>
            function filterByCategory(cat) {
              $("tbody tr").show();
              $("tbody tr")
                .not("." + cat)
                .hide();
            }
          </script>
        </section>          
        <table id="products">
          <thead>
            <tr>
              <th>Navn</th>
              <th>Pris</th>
              <th>Kategori</th>
              <th>Billeder</th>
              <% if (auth == true) {%>
                              <th></th>
                              <% } %>
            </tr>
          </thead>
          <tbody>
            <% for(var i=0; i < productdata.length; i++) { %>
            <tr class="<%= productdata[i].category %>">
              <td><%= productdata[i].name %></td>
              <td class="price"><%= productdata[i].price %></td>
              <td><%= productdata[i].category %></td>
              <td class="image"><img src="<%= productdata[i].image %>"" class="image"</></td>
              <% if (auth == true) {%>
              <td>
                <a href="/editproduct/<%= productdata[i].id %>">redigere/slet</a>
              </td>
              <% } %>
            </tr>
            <% } %>
          </tbody>
        </table>
    </section>
  </body>
</html>
