<!DOCTYPE html>
<html>
  <head>
    <title>Produkt form</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>

  <body>
    <form action="<%=posturl %>" method="POST" encType="multipart/form-data">
      <a href="/">< Tilbage</a>
      <h1>Produkt</h1>
      <label for="name"> Navn </label>
      <input
        type="text"
        id="name"
        name="name"
        value="<%= product.name %>"
        required
      />
      <label for="price"> Pris </label>
      <input
        type="text"
        id="price"
        name="price"
        value="<%= product.price %>"
        required
      />
      <label for="category"> Kategori </label>
      <input
        type="text"
        id="category"
        name="category"
        value="<%= product.category %>"
        required
      />
      <label for="image"> Billede </label>
      <input type="file" id="image" name="image" />

      <button type="submit">Gem</button>
      <% if (posturl !== '/newproduct') {%>
      <a href="/deleteproduct/<%= product.id %>">Slet produkt</a>
      <% } %>
      <section><img src="<%= product.image %>" /></section>
    </form>
  </body>
</html>
